.popup__close-button {
  position: absolute;
  top: -32px;
  right: -32px;
  outline: none;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background: url("../../../images/CloseIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40.7px 40.7px;
  transition: opacity 0.2s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}

@media only screen and (max-width: 430px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    right: -6px;
    top: -36px;
  }
}
