.header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-nav {
  height: 100px;
}
