.header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 515px) {
  .header__nav {
    
   
  }
}