.header__logout {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  padding: 0;
  padding-left: 24px;
  background-color: #000;
  text-decoration: none;
}

.header__logout:hover {
 color: #a9a9a9;
}

.header__logout:active{
  color: #a9a9a9;
}



