.register__button {
  max-width: 358px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  outline: none;
  border: none;
  min-height: 50.15px;
  margin: 210px 36px 10px;
  font-family: inherit;
  cursor: pointer;
}
