.footer {
  max-width: 318px;
  margin: 0 762px 60px 200px;
  width: 100%;
}

@media only screen and (max-width: 1268px) {
  .footer {
    max-width: 300px;
    margin: 0 500px 50px 200px;
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
    margin: 0 400px 36px 70px;
  }
}

@media only screen and (max-width: 350px) {
  .footer {
    margin: 0 auto 36px;
  }
}
