.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  display: block;
  color: #000;
  width: 100%;
  min-height: 26px;
}

@media only screen and (max-width: 515px) {
  .popup__input {
    max-width: 250px;
  }
}

@media only screen and (max-width: 430px) {
  .popup__input {
    max-width: 238px;
  }
}
