.element__delete-button {
  position: absolute;
  top: 20px;
  right: 15px;
  background: url("../../../images/Trash.svg") no-repeat center;
  border: none;
  outline: none;
  width: 18px;
  height: 19.3px;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  visibility: visible;
}

.element__delete-button:hover {
  opacity: 0.6;
}
