.profile__add-button {
  width: 150px;
  height: 50px;
  background: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
  background-image: url("../../../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  box-sizing: border-box;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 890px) {
  .profile__add-button {
    width: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .profile__add-button {
    width: 100%;
    max-width: 282px;
  }
}
