.profile__edit-button {
  background: url("../../../images/EditButton.svg") center no-repeat;
  background-color: #000;
  box-sizing: border-box;
  border: 1px solid #fff;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 650px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
